:root{
  --mainColor:#212121;
  --mainColorLigth:#484848;
  --mainColorDark: #000000;
  --secondaryColor:#ff5722;
  --secondaryLightColor:#ff8a50;
  --secondaryDarkColor:#c41c00;
  --primaryTextColor:#ffffff;
  --secondaryTextColor:#000000;
}

