:root{
    --mainColor:#212121;
    --mainColorLigth:#484848;
    --mainColorDark: #000000;
    --secondaryColor:#ff5722;
    --secondaryLightColor:#ff8a50;
    --secondaryDarkColor:#c41c00;
    --primaryTextColor:#ffffff;
    --secondaryTextColor:#000000;
  }

.clases-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
    url(./img/clasesbackground.png) no-repeat center center;
  background-size: cover;
  color: var(--primaryTextColor);
}

.clases-container h4{
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem;
}

.musculacion:hover{
  cursor: pointer;
  background-color: #bf360c;
  width: 30rem;
  transition: 1s;
}

.crossfit:hover{
  cursor: pointer;
  background-color: #e65100;
  width: 30rem;
  transition: 1s;
}

.natacion:hover{
  cursor: pointer;
  background-color: #ff6f00;
  width: 30rem;
  transition: 1s;
}

.cardio:hover{
  cursor: pointer;
  background-color: #f57f17;
  width: 30rem;
  transition: 1s;
}

.yoga:hover{
  cursor: pointer;
  background-color: #f9a825;
  width: 30rem;
  transition: 1s;
}


@media only screen and (max-width: 900px){
  .clases-container h4{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 1rem
  }
}